---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

$serif-font-family: 'Roboto Slab', serif;
$sans-serif-font-family: 'Montserrat', sans-serif;
$monospace-font-family: Menlo, Consolas, Monaco, "Courier New", Courier,
  monospace;

$base-font-family: $sans-serif-font-family;
$headline-font-family: $serif-font-family;
$title-font-family: 'Lato', sans-serif;
$description-font-family: $sans-serif-font-family;
$meta-font-family: $serif-font-family;
$subtitle-font-family: 'Raleway', sans-serif;

@import "so-simple";